.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 100px;

  .root_header {
    width: 1000px;
    @media (max-width: 1024px) {
      width: auto;
    }
  }

  @media (max-width: 600px) {
    padding: 20px;
    padding-top: 5vh;

    &_table {
      min-height: 150px;

      p {
        padding: 30px 15px;
        font-size: 14px;
      }
    }
  }
}
